# ===== LLM 模型配置 =====
OPENAI_MODEL=auto
# 给小鲁班发送 "获取apikey"，小鲁班会返回apikey信息，其中auto对应模型Qwen-V3.5-35B-A3B,支持多模态功能
OPENAI_API_KEY=
OPENAI_API_BASE=http://xiaoluban.rnd.huawei.com:80/y/llm/v1
OTEL_SDK_DISABLED=true
NO_PROXY=xiaoluban.rnd.huawei.com

# ===== WeLink 配置 =====
# 监听的群号，从群配置中获取
WELINK_GROUP_ID=979178321931715587
# 轮询间隔（秒）
CHECK_INTERVAL=10
# 拉取最近 N 分钟的消息
RECENT_MINUTES=10
